---
import { HEADER_LOGO_PATH, LOGO_NAME } from '../config';

interface Props {

    class? : string,

    /**
     * none
     */
    props? : true
}

const { 
    class: className = '',
} = Astro.props
---

<a href="/">
    <div class={`flex items-center gap-4 font-semibold text-xl stroke-[var(--nav-bar-logo-color)] ${className}`}>
    
        <img src={ HEADER_LOGO_PATH } alt="Logo" width="34" height="41" />
        <img src="./img/megan-riley.svg" alt="Megan Riley" width="189" height="22" />

    </div>
</a>    