---
import SkipToContent from '../../components/SkipToContent.astro';
import '../../css/config.css'
import MainContent from '../../components/MainContent.astro';
import HeroFullScreen from '../../components/Heros/HeroFullScreen.astro';
import HeaderTopBar from '../../components/Headers/HeaderTopBar.astro';
import Meta from '../../components/Meta.astro';
import type { Layout } from '../../config';


interface Props extends Layout { }

const {
    title,
    description,
	class : className = ''
} = Astro.props
---

<html lang="en">

	<Meta props
		title={title}
		description={description}
	/>


	<body class={`bg-[var(--body-bg-color)] text-[var(--body-text-color)] text-xl sm:text-lg md:text-base ${className}`}>

		<SkipToContent />

		<HeaderTopBar props sticky={false} transparent="false" />

		<HeroFullScreen props
			align='left'
			heading="Discover your neurospicy potential" 
			subheading='Join our Transformative Community Today!'
			primaryCTAText='Join Today'
			primaryCTALink='#call-to-action'
			primaryCTAIcon='diversity_1'
			secondaryCTAText='Learn more'
			secondaryCTALink='#learn-more'
			secondaryCTAIcon='expand_more'
		/>

        <MainContent>

            <slot />

        </MainContent>

	</body>
</html>
